In [2]:
import pandas as pd
#Tirar seaborn
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [58]:
df = pd.read_csv('pnad.csv', encoding='ISO-8859-1')

In [59]:
df.head(10)

,Unnamed: 0,Ano,Trimestre,UF,UPA,Estrato,V1008,V1014,V1027,V1029,...,V4005,VD3004,VD4001,VD4002,VD4019,VD4020,VD4031,VD4035,Habitual,Efetivo
0,1,2019,4,11,110000016,1110011,1,7,98.756636,532471,...,NaN,5.0,1.0,1.0,2100.0,2100.0,36.0,30.0,1.050059,1.0598
1,2,2019,4,11,110000016,1110011,1,7,98.756636,532471,...,2.0,5.0,2.0,NaN,NaN,NaN,NaN,NaN,1.050059,1.0598
2,3,2019,4,11,110000016,1110011,1,7,98.756636,532471,...,2.0,5.0,2.0,NaN,NaN,NaN,NaN,NaN,1.050059,1.0598
3,4,2019,4,11,110000016,1110011,1,7,98.756636,532471,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.050059,1.0598
4,5,2019,4,11,110000016,1110011,3,7,98.756636,532471,...,2.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,1.050059,1.0598
5,6,2019,4,11,110000016,1110011,3,7,98.756636,532471,...,NaN,5.0,1.0,1.0,1000.0,1000.0,44.0,38.0,1.050059,1.0598
6,7,2019,4,11,110000016,1110011,3,7,98.756636,532471,...,2.0,6.0,2.0,NaN,NaN,NaN,NaN,NaN,1.050059,1.0598
7,8,2019,4,11,110000016,1110011,3,7,98.756636,532471,...,2.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,1.050059,1.0598
8,9,2019,4,11,110000016,1110011,3,7,98.756636,532471,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1.050059,1.0598
9,10,2019,4,11,110000016,1110011,4,7,98.756636,532471,...,NaN,5.0,1.0,1.0,2500.0,2500.0,48.0,42.0,1.050059,1.0598

In [60]:
print(df[(df['V2008']==99)].shape[0])
print(df[(df['V2008']!=99)].shape[0])

56574
821794

In [62]:
people_2019_4 = df[(df['Ano']==2019) & (df['Trimestre']==4) & (df['VD4002']==1) & (df['V2008']!=99)]

In [64]:
people_2019_4 = people_2019_4.drop_duplicates(subset=['V1008','V2008','V20081','V20082','V2007'],keep=False)

In [67]:
people_2019_4.reset_index()
people_2019_4.drop(columns=['Unnamed: 0'])

,Ano,Trimestre,UF,UPA,Estrato,V1008,V1014,V1027,V1029,posest,...,V4005,VD3004,VD4001,VD4002,VD4019,VD4020,VD4031,VD4035,Habitual,Efetivo
0,2019,4,11,110000016,1110011,1,7,98.756636,532471,111,...,NaN,5.0,1.0,1.0,2100.0,2100.0,36.0,30.0,1.050059,1.059800
5,2019,4,11,110000016,1110011,3,7,98.756636,532471,111,...,NaN,5.0,1.0,1.0,1000.0,1000.0,44.0,38.0,1.050059,1.059800
9,2019,4,11,110000016,1110011,4,7,98.756636,532471,111,...,NaN,5.0,1.0,1.0,2500.0,2500.0,48.0,42.0,1.050059,1.059800
15,2019,4,11,110000016,1110011,5,7,98.756636,532471,111,...,NaN,5.0,1.0,1.0,2000.0,2000.0,44.0,38.0,1.050059,1.059800
24,2019,4,11,110000016,1110011,8,7,98.756636,532471,111,...,NaN,7.0,1.0,1.0,1600.0,1600.0,40.0,34.0,1.050059,1.059800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
542784,2019,4,53,530044434,5310220,9,8,374.448529,3027352,531,...,NaN,5.0,1.0,1.0,998.0,998.0,35.0,35.0,1.037559,1.044198
542785,2019,4,53,530044434,5310220,9,8,374.448529,3027352,531,...,NaN,5.0,1.0,1.0,2300.0,2300.0,36.0,36.0,1.037559,1.044198
542786,2019,4,53,530044434,5310220,9,8,374.448529,3027352,531,...,NaN,5.0,1.0,1.0,998.0,998.0,45.0,45.0,1.037559,1.044198
542794,2019,4,53,530044434,5310220,13,8,374.448529,3027352,531,...,NaN,2.0,1.0,1.0,2000.0,2000.0,40.0,40.0,1.037559,1.044198
542799,2019,4,53,530044434,5310220,14,8,374.448529,3027352,531,...,NaN,2.0,1.0,1.0,1500.0,1500.0,24.0,24.0,1.037559,1.044198

In [68]:
people_2019_4

,Unnamed: 0,Ano,Trimestre,UF,UPA,Estrato,V1008,V1014,V1027,V1029,...,V4005,VD3004,VD4001,VD4002,VD4019,VD4020,VD4031,VD4035,Habitual,Efetivo
0,1,2019,4,11,110000016,1110011,1,7,98.756636,532471,...,NaN,5.0,1.0,1.0,2100.0,2100.0,36.0,30.0,1.050059,1.059800
5,6,2019,4,11,110000016,1110011,3,7,98.756636,532471,...,NaN,5.0,1.0,1.0,1000.0,1000.0,44.0,38.0,1.050059,1.059800
9,10,2019,4,11,110000016,1110011,4,7,98.756636,532471,...,NaN,5.0,1.0,1.0,2500.0,2500.0,48.0,42.0,1.050059,1.059800
15,16,2019,4,11,110000016,1110011,5,7,98.756636,532471,...,NaN,5.0,1.0,1.0,2000.0,2000.0,44.0,38.0,1.050059,1.059800
24,25,2019,4,11,110000016,1110011,8,7,98.756636,532471,...,NaN,7.0,1.0,1.0,1600.0,1600.0,40.0,34.0,1.050059,1.059800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
542784,542785,2019,4,53,530044434,5310220,9,8,374.448529,3027352,...,NaN,5.0,1.0,1.0,998.0,998.0,35.0,35.0,1.037559,1.044198
542785,542786,2019,4,53,530044434,5310220,9,8,374.448529,3027352,...,NaN,5.0,1.0,1.0,2300.0,2300.0,36.0,36.0,1.037559,1.044198
542786,542787,2019,4,53,530044434,5310220,9,8,374.448529,3027352,...,NaN,5.0,1.0,1.0,998.0,998.0,45.0,45.0,1.037559,1.044198
542794,542795,2019,4,53,530044434,5310220,13,8,374.448529,3027352,...,NaN,2.0,1.0,1.0,2000.0,2000.0,40.0,40.0,1.037559,1.044198
542799,542800,2019,4,53,530044434,5310220,14,8,374.448529,3027352,...,NaN,2.0,1.0,1.0,1500.0,1500.0,24.0,24.0,1.037559,1.044198